.data-table {
    display: flex;
    gap: 10px;
    color: var(--white);
    margin-top: 2%;
}

.data-table .analytic {
    flex: 1;
    border: 1px solid var(--main-color);
    text-align: center;
}

.data-table .analytic h1 {
    padding: 20px;
    margin: 0;
    background-color: var(--main-color);
}

.data-table .analytic p {
    font-weight: bolder;
    font-size: 40px;
    color: var(--main-color);
    margin: 0;
    padding: 10px;
}